.hero{
    height: 100%;
    overflow: hidden;
    display: flex;
}

.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.hImg{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 80%;
    width: max-content;
}

.hImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hsection{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.htitle{
    margin-top: 50px;
    font-size: 100px;
    color: pink;
    font-size: 70px;
    font-weight: 100;
    line-height: 1.2;
    text-align:  left;
}

.awards{
    font-size: 25px;
    font-weight: 100;
}

.awards h2{
    font-weight: 100;
}

.awards p {
    font-size: 18px;
    margin: 12px 0;
}

.awardList{
    display: flex;
    gap: 8px;
}

.awardList img{
    width: 36px;
    height: 36px;
    padding: 8px;
    background-color: white;
    border-radius: 100%;
}

.scroll{
    margin-bottom: 50px;
    width: max-content;

}

.htitle span{
    color: black;
}

.hsection.right{
    align-items: end;
}

.follow{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    background-color: #2f204e;
    border-bottom-left-radius: 10px;
}

.follow img{
    width: 20px;
    height: 20px;
}

.followTextContainer{
    width: 20px;
    height: 20px;
}

.followText{
    background-color: #dd4c62;
    font-size: 12px;
    font-weight: 500;
    rotate: 90deg;
    width: max-content;
    height: 100%;
    transform-origin: left top;
    transform: translateY(-99%);
    padding: 0 8px;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 10px;
}

.certification{
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center; 
}

/* image-person */
.img-person{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.contactLink{
    margin-bottom: 50px;
}

.circleText{
    letter-spacing: 3px;
    font-size: 20px;
}

.contactButton{
    position: relative;
}

.arrow{
    position : absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bubble-container{
    width: 50%;
    display: flex;
    align-items: end;
    gap: 8px;
    justify-content: space-between;
}

.bubble{
    width: 100%;
    height: 100px;
    background-color: #555;
    color: #ddd;
    padding: 24px;
    font-size: 18px;
    border-radius: 20px 20px 0px 20px;

}

.bubble-container img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #dd4c62;
}